#navbar {
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 1;

    .navbar-brand {
        font-weight: 900;
    }

    .navbar-nav {
        align-items: start;
    }

    a,
    &.active {
        display: inline-block !important;
    }

    .nav-link {
        color: var(--theme-black-color);
        font-weight: 600;
        margin: 0 5px;
        padding: 5px 12px;
        border-bottom: 2px solid transparent;
        transition: all 0.3s linear;
        &:hover {
            border-bottom-color: rgb(236 72 153/1);
        }
        @media (max-width: 992px) {
            padding-left: 0;
        }

        &.active {
            border-bottom-color: rgb(236 72 153/1);
        }
    }
}
